<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3"><%=username %></h1>
      <p class="secret-text">User ID-  <%=userid %><br>Full Name-  <%= name %> <br>Email Id-  <%= email %> <br>Hobby-  <%= hobby %> <br>Age-  <%= age %></p>
       </div>
  </div>

  <%- include('partials/footer') %>